/*Arquivo CSS geral com estilos dos elementos de todas as páginas*/

/* Importando CSS de Tabelas */
@import url('tabelas.css');

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 62.5%; /*equivalente a 10px*/
}

header {
	background-color: #eee;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

header p {
	color: #fff;
	font-size: 1.8rem;
	padding: 5px;
}

header h2 {
	font-weight: 400;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 3rem;
 }

header > h2:hover {
	color: #ccc;
}

h2 + p {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

h2 ~ h5 {
	font-size: 1.8rem;
	padding: 5px;
	font-style: italic;
	color: #ccc;
	text-shadow: 2px 2px 5px red;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: url('../imagens/pattern.png') center top repeat #EEEEEE;
}

section {
	background: rgba(255, 255, 255, 0.4);
}

h1 {
	font-size: 2rem;
	padding-bottom: 7px;
}

h1 ~ p {
	padding-bottom: 10px;
}

h2 {
	font-size: 1.8rem;
	height: 3rem;
	text-shadow: 2px 2px 5px red;
	padding: 10px;
}

h3 {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem; /*equivalente a 16px em relação ao root HTML*/
	color: blue;
}

h1, h2, p, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #454545;
}

h1, h2, h3 {
	font-weight: 400;
	font-family: 'Limelight', cursive;
}

h3 {
	/* declaração resumida / completa */
	font: italic bold 2rem/2 sans-serif;
}

div > h2:hover {
  background-color: #3cb371;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background-color: #3cb371;}
  to {background-color: #afeeee;}
}

#primeiro-link a {
	color: #933;
}

.meu-nome {
	color: teal;
	text-shadow: none;
	font-size: 2.5rem;
	border-bottom: 30px;
}

a {
	color: #336;
	text-decoration: none;
	font-size: 1.5rem;
	display: block;
	width: 100%;
	height: auto;
}

a:visited {
	color: #f00;
}

a:active {
	color: #096;
}

a:hover {
	color: #009;
	background: #eee;
}

ul {
	padding-left: .5rem;
	margin-left: .5rem;
	background: #fff;
	font-size: 20px;
}

ul li {
	font-size: .8em; /*equivalente a 16px em relação ao elemento pai ul*/
	width: 80%;
	height: 3rem;
}

li {
	letter-spacing: 0.01rem;
	font-family: sans-serif;
	line-height: 1.5;
}

header,
footer {
	background: linear-gradient(to left, #6666ff 0%, #ff99cc 100%);
}

.navegacao {
	padding: 0.5rem;
}

.navegacao li {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	line-height: 1.6rem;
}

.navegacao a {
	color: #66f;
	display: block;
	width: 100%;
	margin-bottom:.5rem;
}

.navegacao li a {
	color: blue;
	font-size: 1.4rem;
}

.navegacao li a:hover {
	background-color: rgba(150, 150, 200, .5);
	color: #333333;
}

form {
	background: linear-gradient(to bottom, #99ccff 0%, #3366ff 100%);
	padding: 10px;
	border-radius: 10px;
}

form div {
	background-color: #fff;
	border-bottom: 1px solid #33f;
	border-radius: 8px;
	margin: 1rem 2rem; /*inferior/superior e laterais*/
	padding: 2rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem;
	font-family: sans-serif;
	font-weight: bold;
	color: #66f;
}

input, textarea {
	padding: 1rem;
	border-style: outset;
	border-radius: 6px;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;
}

.botao {
	outline-style: outset;
	transition-duration: 0.4s;
}

.botao:hover {
	background-color: darkgrey;
	color: blue;
}

/* Create two columns/boxes that floats next to each other */
nav {
	float: left;
	width: 30%;
	background: #ddd;
	padding: 20px;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
}

article > p {
	padding-top: 15px;
}

blockquote p {
	color: #6b8e23;
	font-size: 1.8rem;
	font-style: italic;
	font-weight: 700;
	padding: 15px;
}

details {
	font-size: 1.8rem;
	background: linear-gradient(to bottom, #ccccff 0%, #ffccff 100%);
}

.detalhes {
	background: #ffccff;
}

/* Clear floats after the columns */
section::after {
	content: " ";
	display: table;
	clear: both;
}

footer {
	background-color: #eee;
	padding: 15px;
	text-align: center;
	color: white;
}

footer p {
	color: rgb(255, 255, 255);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}
}

/*MOBILE FIRST - a configuração para celular fica em ultimo para não sobrescrever a regra*/

/*Tablet*/

@media (min-width: 769px) {
	body {
		background-color: cornflowerblue;
	}
}

@media (max-width: 768px) {
	nav {
		width: 30vw;
	}

	article {
		width: 70vw;
	}

	.coluna {
		width: 500vw;
		min-width: unset;
	}
}

/*Smartphone*/
@media (max-width: 425px) {
	nav,
	article,
	.coluna {
		width: 100%;
		min-width: 320px;
	}
}